<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find urdf_gazebo)/urdf/demo_hello.urdf"/>   
    <!-- launch文件调用launchw文件？ -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model car -param robot_description"/>
    

</launch>